.footer {
    background-color: lavender;
    margin-top: 3rem;
    color: tomato;
    font-size: small;
    border-radius: 1rem 1rem 0 0;
    box-shadow: 5px 10px 15px #3a3838a8 inset;
    padding: 1% 0.5%;
    width: auto;
    height: fit-content;
}

.footer code,
.footer a {
    background-color: black;
    color: wheat;
    padding: 0.2rem;
    border-radius: 1.2rem;
}

.footer h4 a {
    background-color: tomato;
    text-decoration: none;
    animation: dance;
    animation-duration: 3s;
    animation-iteration-count: infinite;
}

@keyframes dance {
    from {
        padding: 0.5rem;
        box-shadow: 2px 2px 8px black;
    }
    to {
        padding: 0.2rem;
        box-shadow: 2px 2px 3px black;
    }
}